@font-face {
    font-family: 'trajan_probold';
    src: url('../Fonts/trajan-pro-bold1-webfont.woff') format('woff2');
}

body {
    background-image:url("../images/TelaInicial_Background.jpeg"); background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }

#Menu {
    text-align: center;
    padding: 2px ;
}

div ul li {
    display: inline;
    justify-content: center;
}

ul {
    margin: 40px;
    padding: 0px;
    white-space: nowrap;
}

div ul li a {
    padding: 15px 30px;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    font-family: trajan_probold; font-size: 25px;
    
    }

div ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
    }

img {
    position: absolute;
    top: 0;
    opacity: 0.5;
    width: 125px; height: 125px;
    
}
