@font-face {
    font-family: 'trajan_probold';
    src: url('../Fonts/trajan-pro-bold1-webfont.woff') format('woff2');
}

body {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }

    
#Menu {
    text-align: center;
    padding: 2px;
    display: inline;
}

#Menu ul li a {
    display:inline;
    padding: 30px 40px;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    font-family: trajan_probold; font-size: 60px;
    
    }

#Menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
    }

#Container{
    width: 950px;
    margin: auto;
    text-align: center;

    background: rgba(21,24,28, 0.96);
    color:rgb(255, 255, 255);
    padding: 30px;
    border: solid white 2px;
    border-radius: 10px;
}
#titulo {
    font-family: trajan_probold; font-size: 80px;
    font-weight: bold;
}
p {
    font-size: 20px;
    font-family: trajan_probold;
}
#sinopse{
    font-style: italic ;
    color:#c1b1b1
}
#borda {
    border: solid white 2px;
}
#Ajustar {
    height: 100px;
}

#Ajustar2 {
    height: 220px;
}

h2 {
    font-size: 65px;
}
h3 {
    font-size: 50px;
}

th {
    font-size: 35px;
}

table, td, tr, th {
    color: white;
    border: solid white 2px;
    border-radius: 5px;
    border-collapse: collapse;
    height: 10px;
    width: 700px;
    text-align: center;
    margin: auto;
}


.container {
display: inline-block;
  position: relative;
  max-width: 300px;
  margin: auto;
  
}

.image {
  display: inline-block;
  width: auto;
  height: auto;
  height: 300px;

}

.overlay {
  position: absolute; 
  bottom: 0;
  background: rgba(23, 12, 2, 0.7); 
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
}

.container:hover .overlay {
  opacity: 1;
}

@media (max-width: 600px){
    #container {
        width: 550px;
    }
}