body {
    background-image:url('../images/Locais_Background.gif'); 
    color: white;
}

img {
    height: 250px;
}

h1 {
    font-family: trajan_probold;
    font-size: 40px;
}

p {
    font-size: 30px;
}

button {
    font-size: 30px;
}

#container{
    width: 950px;
    margin: auto;
    text-align: center;

    background: rgba(21,24,28, 0.96);
    color:rgb(255, 255, 255);
    padding: 30px;
    border: solid white 2px;
    border-radius: 10px;
}
